body {
  height: 100%;
  font-family: Righteous-Regular;
}

.background {
  display: flex;
  height: 100vh;
}

h1 {
  color: #fee73d;
  font-family: Righteous-Regular;
}

.form-range {
  width: 80%;
  height: 20%;
}

@font-face {
  font-family: Righteous-Regular;
  src: url("Righteous-Regular.ttf");
}

@media (min-width: 180px) {
  aside {
    background-color: black;
    width: 20vw;
    overflow-y: scroll;
    height: 100vh;
    color: #fee73d;
    padding: 10px;
    text-align: center;
  }

  aside div {
    height: 80px;
  }
}

#maxsur {
  margin: 0;
}
.right-column {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  align-items: center;
}

#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-options {
  display: flex;
  align-content: center;
  justify-content: center;
}

.left-column.marioleft {
  background-color: #fe0002;
  color: #ffd987;
}

.right-column.marioright {
  background-color: #0002fc;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

a {
  text-decoration: none;
  color: #fee73d;
}
.modal.show {
  opacity: 0.95;
  pointer-events: all;
}
.game-rule {
  width: 50vw;
  height: 70vh;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

/* .last-row {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-right: 0;
} */

.information {
  height: 5rem;
  width: 4rem;
  opacity: 80%;
  justify-content: flex-end;
  margin-right: 0;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.fa-solid.fa-circle-info {
  font-size: 50px;
}

.radius .fa-solid {
  font-size: 2rem;
  margin: 5px;
  justify-content: space-between;
}

/* .fa-solid.fa-square {
  font-size: 2rem;
}

.fa-solid.fa-arrow-right-long {
  font-size: 2rem;
}

.fa-solid.fa-circle {
  font-size: 2rem;
} */

.radius {
  justify-content: space-between;
}
.form-label i {
  justify-content: space-between;
}
